
@{
    ViewBag.Title = "GetPorductList";
}   
<!-- pages-title-start -->
<div class="pages-title section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="pages-title-text text-center">
                    <h2>Product List View</h2>
                    <ul class="text-left">
                        <li><a href="index.html">Home </a></li>
                        <li><span> // </span>Shop</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="pages products-page">`
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3 main-filter-container">

                @*@{Html.RenderAction("GetSidebar");}*@
                @Html.Partial("_Sidebar")

            </div>
            <div class="col-xs-12 col-sm-8 col-md-9">
                <div class="right-products">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="section-title clearfix">
                                <ul>
                                    <li>
                                        <ul class="nav-view">
                                            <li class="my-list-grid-btn" mylistgridbtn="grid"><a data-toggle="tab" href="#grid"> <i class="mdi mdi-view-module"></i> </a></li>
                                            <li class="my-list-grid-btn active" mylistgridbtn="list"><a data-toggle="tab" href="#list"> <i class="mdi mdi-view-list"></i> </a></li>
                                            <li>

                                                <button type="button" id="btnSearch" onclick="onChangeSearchByName()"><i class="mdi mdi-magnify"></i></button>
                                                <input type="text" id="textProductName" onchange="onChangeSearchByName()" style="margin-top: 14px; border: 0; width: 492px;" placeholder="Search within these results...">

                                            </li>

                                        </ul>
                                    </li>
                                    <li class="sort-by floatright">
                                        <label id="lblTotalCount"></label>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="tab-content grid-content" id="htmlListAndGrid">


                        </div>
                    </div>
                    <div id="htmlProdListPaggination" style="float: right;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- product-list-view content section end -->
<!-- quick view start -->
<div class="product-details quick-view modal animated zoomInUp" id="quick-view">

</div>
<!-- quick view end -->

<script>
    //LoadProductList
    $(document).ready(function () {
        //Updated 3-Dec-2021

        var filterSearchByName = localStorage.getItem("filterSearchByName") == undefined ? "" : localStorage.getItem("filterSearchByName");
        var filterPrevpage = localStorage.getItem("filterPrevpage") == undefined ? 0 : localStorage.getItem("filterPrevpage");
        var filterNextPage = localStorage.getItem("filterNextPage") == undefined ? 10 : localStorage.getItem("filterNextPage");
        var filterCategoryAndBrand = localStorage.getItem("categoryAndBrand") == undefined ? [] : localStorage.getItem("categoryAndBrand")

        var filterCategoryAndBrandarray;



        if (filterCategoryAndBrand != '[[]]' && filterCategoryAndBrand.length > 0) {
            debugger
            // if (typeof (filterList)=='string')
            var filterCategoryAndBrandList = filterCategoryAndBrand.substring(1, filterCategoryAndBrand.length - 1);



            filterCategoryAndBrandarray = JSON.parse(filterCategoryAndBrandList);



        }




        $('#textProductName').val(filterSearchByName);
        loadProductListById(filterCategoryAndBrandarray, filterSearchByName, filterNextPage, filterPrevpage);



        // Paggination Button ,1,2,3..
        $('#htmlProdListPaggination').on('click', '.btn-Prod-Paggination', function () {

            var nextPage = $(this).attr('next-page');
            var prevPage = $(this).attr('prev-page');
            var searchProduct = $('#textProductName').val();

            PrevProdClickValue = prevPage;
            NextProdClickValue = nextPage;

            //Filter local Storage Work .. 2-Dec-2021


            SetLocalStorageForFilter(null, searchProduct, NextProdClickValue, PrevProdClickValue)


            $('#htmlProdListPaggination').find('.btn-Prod-Paggination').removeClass('applyActiveBtn');
            $(this).addClass('applyActiveBtn');

            // var searchProduct = $('#textProductName').val();
            loadProductListById(GetfilterListDummy(), searchProduct, nextPage, prevPage);

        });

        // Prev and Next Button
        $('#htmlProdListPaggination').on('click', '.btn-Prod-PrevAndNext', function () {

            debugger
            let searchProduct = $('#textProductName').val();
            let value = $(this).attr('value');


            if (value == "Previous") {
                if (PrevProdClickValue > 0)
                    PrevProdClickValue = parseInt(PrevProdClickValue) - 10;
                else
                    return false;
            }

            if (value == "Next") {
                if ((parseInt(totalProductList) - 10) > PrevProdClickValue)
                    PrevProdClickValue = parseInt(PrevProdClickValue) + 10;
                else
                    return false;
            }

            var currentBtnIndex = (((NextProdClickValue + PrevProdClickValue) / NextProdClickValue) - 1);

            $('#htmlProdListPaggination').find('.btn-Prod-Paggination').removeClass('applyActiveBtn');
            $('#htmlProdListPaggination').find('.btn-Prod-Paggination').eq(currentBtnIndex).addClass('applyActiveBtn');

            SetLocalStorageForFilter(null, searchProduct, NextProdClickValue, PrevProdClickValue);
            loadProductListById(GetfilterListDummy(), searchProduct, NextProdClickValue, PrevProdClickValue);
        });

    });
    //on change Search Box Manage Local Storage and change Event
    function onChangeSearchByName() {

        var SearchByName = $('#textProductName').val();
        var filterSearchByName = localStorage.getItem("filterSearchByName") == undefined ? "" : localStorage.getItem("filterSearchByName");
        var filterPrevpage = localStorage.getItem("filterPrevpage") == undefined ? 0 : localStorage.getItem("filterPrevpage");
        var filterNextPage = localStorage.getItem("filterNextPage") == undefined ? 10 : localStorage.getItem("filterNextPage");
        var filterCategoryAndBrand = localStorage.getItem("categoryAndBrand") == undefined ? [] : localStorage.getItem("categoryAndBrand");

        filterPrevpage == undefined ? 0 : filterPrevpage
        filterNextPage == undefined ? 10 : filterNextPage

        if (filterSearchByName != true)
            filterSearchByName = SearchByName;

        SetLocalStorageForFilter(GetfilterListDummy(), filterSearchByName, filterNextPage, filterPrevpage)
        loadProductListById(filterCategoryAndBrand, filterSearchByName, filterNextPage, filterPrevpage);

    }

</script>