
@{
    ViewBag.Title = "GetPorductList";
}   
<!-- pages-title-start -->
<div class="pages-title section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="pages-title-text text-center">
                    <h2>Product List View</h2>
                    <ul class="text-left">
                        <li><a href="index.html">Home </a></li>
                        <li><span> // </span>Shop</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
@*<section class="collection-area collection-area2 section-padding">
</section>*@
<!-- pages-title-end -->
<!-- collection section start -->
<!-- collection section end -->
<!-- product-list-view content section start -->
<section class="pages products-page">`
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3 main-filter-container">

                @*@{Html.RenderAction("GetSidebar");}*@
                @Html.Partial("_Sidebar")

            </div>
            <div class="col-xs-12 col-sm-8 col-md-9">
                <div class="right-products">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="section-title clearfix">
                                <ul>
                                    <li>
                                        <ul class="nav-view">
                                            <li class="my-list-grid-btn" mylistgridbtn="grid"><a data-toggle="tab" href="#grid"> <i class="mdi mdi-view-module"></i> </a></li>
                                            <li class="my-list-grid-btn active" mylistgridbtn="list"><a data-toggle="tab" href="#list"> <i class="mdi mdi-view-list"></i> </a></li>
                                            <li>

                                                <button type="button" id="btnSearch" onclick="loadProductListByName()"><i class="mdi mdi-magnify"></i></button>
                                                <input type="text" id="textProductName" onchange="loadProductListByName()" style="margin-top: 14px; border: 0; width: 492px;" placeholder="Search within these results...">

                                            </li>

                                        </ul>
                                    </li>
                                    <li class="sort-by floatright">
                                        <label id="lblTotalCount"></label>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="tab-content grid-content" id="htmlListAndGrid">


                        </div>
                    </div>
                    <div id="htmlProdListPaggination" style="float: right;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- product-list-view content section end -->
<!-- quick view start -->
<div class="product-details quick-view modal animated zoomInUp" id="quick-view">

</div>
<!-- quick view end -->

<script>

    //LoadProductList
    $(document).ready(function () {

        //loadProductList();

        loadProductListById(null, "", 10, 0);

        $('#textProductName').change(function () {

            var searchProduct = $(this).val();
            loadProductListById(GetfilterListDummy(), searchProduct, 10, 0);
        });


        // Paggination Button ,1,2,3..
        $('#htmlProdListPaggination').on('click', '.btn-Prod-Paggination', function () {


            var nextPage = $(this).attr('next-page');
            var prevPage = $(this).attr('prev-page');

            PrevProdClickValue = prevPage;
            NextProdClickValue = nextPage;

            $('#htmlProdListPaggination').find('.btn-Prod-Paggination').removeClass('applyActiveBtn');
            $(this).addClass('applyActiveBtn');


            var searchProduct = $('#textProductName').val();

            loadProductListById(GetfilterListDummy(), searchProduct, nextPage, prevPage);

        });

        // Prev and Next Button
        $('#htmlProdListPaggination').on('click', '.btn-Prod-PrevAndNext', function () {

            let searchProduct = $('#textProductName').val();
            let value = $(this).attr('value');

             
            if (value == "Previous") {
                if (PrevProdClickValue > 0)
                    PrevProdClickValue = parseInt(PrevProdClickValue) - 10;
                else
                    return false;
            }

            if (value == "Next") {
                if ((parseInt(totalProductList) - 10) > PrevProdClickValue)
                    PrevProdClickValue = parseInt(PrevProdClickValue) + 10;
                else
                    return false;
            }

            var currentBtnIndex = (((NextProdClickValue + PrevProdClickValue) / NextProdClickValue) - 1);

            $('#htmlProdListPaggination').find('.btn-Prod-Paggination').removeClass('applyActiveBtn');
            $('#htmlProdListPaggination').find('.btn-Prod-Paggination').eq(currentBtnIndex).addClass('applyActiveBtn');

            loadProductListById(GetfilterListDummy(), searchProduct, NextProdClickValue, PrevProdClickValue);
        });

    });

    function GetfilterListDummy() {

        var slides = document.getElementsByClassName("filter");
        let filterList_Dummy = [];

        for (var i = 0; i < slides.length; i++) {

            if ($(slides.item(i)).prop("checked")) {
                ifPresent = true;
                filterList_Dummy.push({ "Name": $(slides.item(i)).attr('myfilter'), "ID": parseInt($(slides.item(i)).attr('categoryId')) });
            }
        }

        return filterList_Dummy;
    }


</script>