
@{
    ViewBag.Title = "GetProductList";
}
<!-- pages-title-start -->
<div class="pages-title section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="pages-title-text text-center">
                    <div class="pages-title-text text-center">
                        @*<h2>Product List View</h2>*@



                        <h2 class="product-list-title-h2">



                            <span>Flour</span>



                            <span>Pulses</span>



                            <span>Oils</span>



                            <span>Rice</span>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="pages products-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3 main-filter-container">

                @*@{Html.RenderAction("GetSidebar");}*@
                @Html.Partial("_Sidebar")

            </div>
            <div class="col-xs-12 col-sm-8 col-md-9">
                <div class="right-products">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="section-title clearfix">
                                <ul>
                                    <li>
                                        <ul class="nav-view">
                                            <li class="my-list-grid-btn" mylistgridbtn="grid"><a data-toggle="tab" href="#grid"> <i class="mdi mdi-view-module"></i> </a></li>
                                            <li class="my-list-grid-btn active" mylistgridbtn="list"><a data-toggle="tab" href="#list"> <i class="mdi mdi-view-list"></i> </a></li>
                                            <li>

                                                <button type="button" id="btnSearch" onclick="onChangeSearchByName()"><i class="mdi mdi-magnify"></i></button>
                                                <input type="text" id="textProductName" onchange="onChangeSearchByName()" style="margin-top: 14px; border: 0;" placeholder="Search within these results...">

                                            </li>

                                        </ul>
                                    </li>
                                    <li class="sort-by floatright">
                                        <label id="lblTotalCount"></label>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="tab-content grid-content" id="htmlListAndGrid">


                        </div>
                    </div>
                    <div id="htmlProdListPaggination" style="float: right;">
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="product-list-sticker">
                    <div>
                        <div>
                            <img class="scale-with-grid" src="https://secureservercdn.net/160.153.137.14/c6b.001.myftpupload.com/wp-content/uploads/2017/09/hyge.png" alt="Products" title="">
                        </div>
                        <div>
                            <h4>Health & Hygiene:</h4>
                            <label>
                                Sunridge chakki atta is produced on end-to-end automated process employing world-class food safety standards. Its three steps cleaning process removes stones, dirt, dust and bacteria.
                            </label>
                        </div>

                    </div>
                    <div>
                        <div>
                            <img class="scale-with-grid" src="https://secureservercdn.net/160.153.137.14/c6b.001.myftpupload.com/wp-content/uploads/2017/09/benifits.png" alt="Products" title="">
                        </div>
                        <div>
                            <h4>6 hours soft roti promise:</h4>
                            <label>
                                Sunridge Chakki Atta gives it consumers a promise that there rotis will stay soft and fresh 6 hours long. This claim is also backed by independent lab tests.
                            </label>
                        </div>
                    </div>
                    <div>
                        <div>
                            <img class="scale-with-grid" src="https://secureservercdn.net/160.153.137.14/c6b.001.myftpupload.com/wp-content/uploads/2017/09/pro-roti.png" alt="Products" title="">
                        </div>
                        <div>
                            <h4>Benefits of whole wheat flour:</h4>
                            <label>
                                Sunridge chakki aata is whole wheat aata with all its natural fibre, vitamins and minerals. It meets all the requirements of natural, healthy and nutritious whole wheat flour. Two small rotis of Sunridge Chakki aata fulfil 24%* daily dietary fibre requirements of a normal person.
                                *Based of 2000 calories diet.
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- product-list-view content section end -->
<!-- quick view start -->
<div class="product-details quick-view modal animated zoomInUp" id="quick-view">

</div>
<!-- quick view end -->

<script>
    //LoadProductList
    $(document).ready(function () {
        //Updated 3-Dec-2021

        var filterSearchByName = localStorage.getItem("filterSearchByName") == undefined ? "" : localStorage.getItem("filterSearchByName");
        var filterPrevpage = localStorage.getItem("filterPrevpage") == undefined ? 0 : localStorage.getItem("filterPrevpage");
        var filterNextPage = localStorage.getItem("filterNextPage") == undefined ? 10 : localStorage.getItem("filterNextPage");
        var filterCategoryAndBrand = localStorage.getItem("categoryAndBrand") == undefined ? [] : localStorage.getItem("categoryAndBrand")

        var filterCategoryAndBrandarray;



        if (filterCategoryAndBrand != '[[]]' && filterCategoryAndBrand.length > 0) {

            // if (typeof (filterList)=='string')
            var filterCategoryAndBrandList = filterCategoryAndBrand.substring(1, filterCategoryAndBrand.length - 1);



            filterCategoryAndBrandarray = JSON.parse(filterCategoryAndBrandList);



        }


        var retVal = LoadSidebar();


        $('#textProductName').val(filterSearchByName);
        //if ($('#textProductName').val()?.trim().length > 0)
        if (retVal)
            loadProductListById(filterCategoryAndBrandarray, filterSearchByName, filterNextPage, filterPrevpage);



        // Paggination Button ,1,2,3..
        $('#htmlProdListPaggination').on('click', '.btn-Prod-Paggination', function () {

            var nextPage = $(this).attr('next-page');
            var prevPage = $(this).attr('prev-page');
            var searchProduct = $('#textProductName').val();

            PrevProdClickValue = prevPage;
            NextProdClickValue = nextPage;

            //Filter local Storage Work .. 2-Dec-2021


            SetLocalStorageForFilter(null, searchProduct, NextProdClickValue, PrevProdClickValue)


            $('#htmlProdListPaggination').find('.btn-Prod-Paggination').removeClass('applyActiveBtn');
            $(this).addClass('applyActiveBtn');

            // var searchProduct = $('#textProductName').val();
            loadProductListById(GetfilterListDummy(), searchProduct, nextPage, prevPage);
            ScrollTop();


        });

        // Prev and Next Button
        $('#htmlProdListPaggination').on('click', '.btn-Prod-PrevAndNext', function () {


            let searchProduct = $('#textProductName').val();
            let value = $(this).attr('value');


            if (value == "Previous") {
                if (PrevProdClickValue > 0)
                    PrevProdClickValue = parseInt(PrevProdClickValue) - 10;
                else
                    return false;
            }

            if (value == "Next") {
                if ((parseInt(totalProductList) - 10) > PrevProdClickValue)
                    PrevProdClickValue = parseInt(PrevProdClickValue) + 10;
                else
                    return false;
            }

            var currentBtnIndex = (((NextProdClickValue + PrevProdClickValue) / NextProdClickValue) - 1);

            $('#htmlProdListPaggination').find('.btn-Prod-Paggination').removeClass('applyActiveBtn');
            $('#htmlProdListPaggination').find('.btn-Prod-Paggination').eq(currentBtnIndex).addClass('applyActiveBtn');

            SetLocalStorageForFilter(null, searchProduct, NextProdClickValue, PrevProdClickValue);
            loadProductListById(GetfilterListDummy(), searchProduct, NextProdClickValue, PrevProdClickValue);
            ScrollTop();
        });

    });
    //on change Search Box Manage Local Storage and change Event
    function onChangeSearchByName() {

        var SearchByName = $('#textProductName').val();
        var filterSearchByName = localStorage.getItem("filterSearchByName") == undefined ? "" : localStorage.getItem("filterSearchByName");
        var filterPrevpage = localStorage.getItem("filterPrevpage") == undefined ? 0 : localStorage.getItem("filterPrevpage");
        var filterNextPage = localStorage.getItem("filterNextPage") == undefined ? 10 : localStorage.getItem("filterNextPage");
        var filterCategoryAndBrand = localStorage.getItem("categoryAndBrand") == undefined ? [] : localStorage.getItem("categoryAndBrand");

        filterPrevpage == undefined ? 0 : filterPrevpage
        filterNextPage == undefined ? 10 : filterNextPage

        if (filterSearchByName != true)
            filterSearchByName = SearchByName;

        SetLocalStorageForFilter(GetfilterListDummy(), filterSearchByName, filterNextPage, filterPrevpage)
        loadProductListById(filterCategoryAndBrand, filterSearchByName, filterNextPage, filterPrevpage);

    }
    //Load Sidebar List
    function LoadSidebar() {
        var html = '', htmlPBrand = '', htmlPCategory = '', pVariant = '';
        var count = 0;
        var categCount = 1;
        var brandCount = 20;

        var retRes = false;

        //$('#categorySidebarId').html('');
        $.ajax({
            url: "/Product/GetSidebar",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            async: false,
            success: function (result) {

                var data = JSON.parse(result.data);
                //console.log(data);
                //
                $.each(data.Category, function (key, item) {

                    htmlPCategory += `<a href="javascript:void(0)"> <input type="checkbox" class="filter" categoryId="${item.Id}" myfilter="Category" categoryName="${item.Name}"  id="${item.Name}">
                          &nbsp;&nbsp;<label for="${item.Name}">&nbsp;${item.Name}</label></a><br>`;

                });

                $.each(data.Brand, function (key, item) {

                    htmlPBrand += `<a href="javascript:void(0)"> <input type="checkbox" class="filter" categoryId="${item.Id}" myfilter="Brand" categoryName="${item.Name}"  id="${item.Name}">
                          &nbsp;&nbsp;<label for="${item.Name}">&nbsp;${item.Name}</label></a><br>`;

                    //htmlPBrand += `<a href="javascript:void(0)"> <input type="checkbox" class="filter" brandId="${item.Id}" myfilter="Brand" brandName="${item.Name}" value="Dastak" id="${item.Id}">
                    //      &nbsp;&nbsp;<label for="${item.Id}">&nbsp;${item.Name}</label></a><br>`;

                });

                $('#category-checkboxes').html('<div class="normal-a">' + htmlPCategory + '</div>');
                $('#brand-checkboxes').html('<div class="normal-a">' + htmlPBrand + '</div>');

                /*$('#categorySidebarId').html(html);*/

                retRes = true;
            },
            error: function (errorMessage) {
                alert(errorMessage.responseText);
                retRes = false;
            }
        });

        return retRes;
    }
</script>

