@model List<B2C_Models.Models.WishlistVM>
@{
    ViewBag.Title = "Wishlist";
}

<!-- pages-title-start -->
<div class="pages-title section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="pages-title-text text-center">
                    <h2>Wishlist SUMMARY </h2>
                    @*<ul class="text-left">
                        <li><a href="/Home/Index">Home </a></li>
                        <li><span> // </span>Wishlist</li>
                    </ul>*@
                </div>
            </div>
        </div>
    </div>
</div>
<div id="WishlistTable">

</div>

<script>
    $(document).ready(function(){
        $("#WishlistTable").load('@Url.Action("WishlistTable", "Product")')
    });
</script>


