@model API_Base.PaymentMethod.PaymentVM
@{
    ViewBag.Title = "PaymentStatus";
}

<style>
    body {
        text-align: center;
        padding: 40px 0;
    }

    h1 {
        color: #337ab7;
        font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
        font-weight: 900;
        font-size: 40px;
        margin-bottom: 10px;
    }

    .contentdetails {
        color: #404F5E;
        font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
        font-size: 20px;
        margin: 0;
    }

    .checkmark {
        color: #337ab7;
        font-size: 100px;
        line-height: 200px;
        margin-left: -15px;
    }

    .card {
        background: white;
        padding: 60px;
        border-radius: 4px;
        box-shadow: 0 2px 3px #C8D0D8;
        display: inline-block;
        margin: 0 auto;
    }
</style>

<div class="card">
        <h1>Payment Successfully Done By @Model.Name!</h1>
    <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
       <i class="checkmark">✓</i>
    </div>
    <h1> (<strong class="pricesymbol"> </strong> @Model.Amount )</h1>
    <p class="contentdetails">We received your purchase request ( <strong class="pricesymbol"> </strong> @Model.Amount) <br /> we'll be in touch shortly!</p>
    <br />
    <a class="btn btn-primary" href="@Url.Action("Index","Orders")">Go To Orders</a>
</div>