
@{
    ViewBag.Title = "Index";
}
<!-- pages-title-start -->
<div class="pages-title section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="pages-title-text text-center">
                    <h2>My Order History</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="OrderTable">

</div>
<script>
$(document).ready(function(){
$("#OrderTable").load('@Url.Action("GetOrderList", "Orders")')
});


</script>
<!-- pages-title-end -->
