
@{
    ViewBag.Title = "ContactUs";
}


<!-- pages-title-start -->
<div class="pages-title section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="pages-title-text text-center">
                    <h2>Contact Us</h2>
                    <ul class="text-left">
                        <li><a href="/Home/Index">Home </a></li>
                        <li><span> // </span>Contact Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- pages-title-end -->
<!-- contact content section start -->
<div class="pages contact-page section-padding">
    <div class="container text-center">
        <div class="row">

            <div class="googleMap-info">
                <div class="googleMap">
                    <div class="container-fluid contact_us_section p-0">
                        <div class="row mx-0 mt-5">
                            <div class="w-100">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1810.063729498063!2d67.062819!3d24.859496!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6f160d378443ddb4!2sUnity%20Foods%20ltd!5e0!3m2!1sen!2sus!4v1634473597923!5m2!1sen!2sus"
                                        height="600" width="1000" style="position:center; border:0;" allowfullscreen="true" loading="lazy"></iframe>
                            </div>

                        </div>
                    </div>
                    <div class="map-info">
                        <p><strong>Unity Foods</strong></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-text-center">
                <div class="contact-details">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="single-contact">
                                <i class="mdi mdi-map-marker"></i>
                                <p>Unity Tower, 8 C, Block-6,</p>
                                <p>P.E.C.H.S., Karachi 75400, Pakistan</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="single-contact">
                                <i class="mdi mdi-phone"></i>
                                <p>+92-21-34373605-7</p>
                                <p>+92-21-34373608</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="single-contact">
                                <i class="mdi mdi-email"></i>
                                <p>info@unityfoods.pk</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="container-fluid contact_us_section_02 mt-5 pb-5 gothamNarrow-medium">
            <div class="row">
                <div class="col-12">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h1 class="second_heading_after_head gothamNarrow-book my-5"><span class="gothamNarrow-bold">Contact </span>Us</h1>
                            </div>
                            <br />
                        </div>
                        <div style="text-align:center" class="custom-input">
                            <form style="background-color: white; border-width: thin" id="contact" class="row g-3">
                                <div style="background-color:white" class="col-md-6">
                                    <input style="background-color:white" type="text" class="form-control border-blue-color" id="fullname" placeholder="Full Name">
                                </div>
                                <div style="background-color:white" class="col-md-6">
                                    <input style="background-color:white" type="email" class="form-control border-blue-color" id="emailaddress" placeholder="E-mail Address">
                                </div>
                                <div style="background-color:white" class="col-md-6">
                                    <input style="background-color:white" type="text" class="form-control border-blue-color" id="subject" placeholder="Message Subject">
                                </div>
                                <div style="background-color:white" class="col-md-6">
                                    <input style="background-color:white" type="text" class="form-control border-blue-color" id="number" placeholder="Mobile Number">
                                </div>
                                <div class="col-12">
                                    <textarea class="form-control border-blue-color" id="message" rows="8" placeholder="Type Your Message Here"></textarea>
                                </div>
                                <div class="col-12 text-center">
                                    <button type="submit" class="sendmail btn btn-success">Send Email</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>


</div>


<!-- contact content section end -->

@section scripts
{
    <script>
        $('.sendmail').click(function () {
            debugger
            var form = $("#contact");
            var datatosend = {
                contact: {
                    /*Id: $('#Id').val(),*/
                    fullname: $('#fullname').val(),
                    emailaddress: $('#emailaddress').val(),
                    subject: $('#subject').val(),
                    PhoneNo: $('#number').val(),
                    message: $('#message').val()

                }
            }

            console.log(datatosend)
            //$(this).removeData("validator").removeData("unobtrusiveValidation");//remove the form validation
            //$.validator.unobtrusive.parse($(this));//add the form validation
            //$.validator.unobtrusive.parse(form);
            //if ($(form).valid()) // using not operator for a time being
            /*if ($(form)) {*/
                $.ajax({
                    type: "POST",
                    url: "/Contact/SendContactEmail",
                    data: JSON.stringify(datatosend),// JSON.stringify(milestonearray),// $(form).serialize(),
                    contentType: 'application/json',
                    dataType: 'json',

                    success: function (data) {

                        // alert(data);
                        console.log(data);
                        if (data.success == true) {
                            toastr.success("Email sent successfully.");
                           // window.location.href = "/Account/Login";
                        }
                        else if (data.success == false) {
                            toastr.error("Email Failed.");
                        }
                    },
                    failure: function (res) {
                        console.log(res);
                    },
                    err: function (res) {
                        console.log(res);
                    }
                })
            //}
            //else {
            //    return false;
            //}

        });


    </script>


}