@model B2C_Models.Models.ProductMaster

@{
    ViewBag.Title = "Sidebar";

}
<div class="sidebar left-sidebar">
    <div class="s-side-text" id="categorySidebarId">
        <div class="sidebar-title clearfix">
            <h4 class="floatleft">Categories</h4>
            <h5 class="floatright"><a href="#"></a></h5>
        </div>

        <div class="categories left-right-p" id="sidebarList">
            <ul id="accordion" class="panel-group clearfix">

                <li class="panel">

                    <div class="panel-collapse collapse in" id="collapse1" data-target="#collapse2">
                        <div id="category-checkboxes">

                            @*<input type="checkbox" class="filter" categoryId="1" name="Dastak" value="Dastak" id="Dastak">
                                <label for="Dastak">&nbsp;Dastak</label><br>
                                <input type="checkbox" class="filter" categoryId="2" name="Ehtimam" value="Ehtimam">
                                <label for="Ehtimam">&nbsp;Ehtimam</label><br>
                                <input type="checkbox" class="filter" categoryId="3" name="Lagan" value="Lagan">
                                <label for="Lagan">&nbsp;Lagan</label><br>*@

                        </div>
                    </div>

                </li>

            </ul>
        </div>
    </div>


    <div class="s-side-text">
        <div class="sidebar-title clearfix">
            <h4 class="floatleft">Brand</h4>
            <h5 class="floatright"><a href="#"></a></h5>
        </div>

        <div class="categories left-right-p" id="sidebarList">
            <ul id="accordion" class="panel-group clearfix">

                <li class="panel">

                    <div class="panel-collapse collapse in" id="collapse1" data-target="#collapse2">
                        <div id="brand-checkboxes">

                            @*<input type="checkbox" class="filter" categoryId="1" name="Dastak" value="Dastak" id="Dastak">
                                <label for="Dastak">&nbsp;Dastak</label><br>
                                <input type="checkbox" class="filter" categoryId="2" name="Ehtimam" value="Ehtimam">
                                <label for="Ehtimam">&nbsp;Ehtimam</label><br>
                                <input type="checkbox" class="filter" categoryId="3" name="Lagan" value="Lagan">
                                <label for="Lagan">&nbsp;Lagan</label><br>*@

                        </div>
                    </div>

                </li>

            </ul>
        </div>
    </div>

    <div class="s-side-text" style="display:none">
        <div class="sidebar-title clearfix">
            <h4 class="floatleft">size</h4>
            <h5 class="floatright"><a href="#">All</a></h5>
        </div>
        <div class="size-select clearfix">
            <a href="#">m</a>
            <a href="#">s</a>
            <a href="#">l</a>
            <a href="#">sl</a>
            <a href="#">xl</a>
        </div>
    </div>

    <div class="s-side-text" style="display:none">
        <div class="sidebar-title clearfix">
            <h4 class="floatleft">brands</h4>
            <h5 class="floatright"><a href="#">All</a></h5>
        </div>
        <div class="brands-select clearfix">
            <ul>
                <li>
                    <a href="#">Sunridge</a>
                    <a href="#">Dastak</a>
                    <a href="#">Lagan</a>

                </li>
                <li>
                    <a href="#">Unity Food</a>
                    <a href="#">Zaukeen</a>
                    <a href="#">Sunridge</a>

                </li>
            </ul>
        </div>
    </div>
    <div class="s-side-text" style="display:none">
        <div class="sidebar-title">
            <h4>Pack Size</h4>
        </div>
        <div class="range-slider clearfix">

   <input type="checkbox" style="margin-left: -37px;" class="filter" id="Chk-Amount" readonly /><h5>Go</h5>
            <input type="text" myfilter="PackSize" Id="amount" readonly />
            <div id="slider-range"></div>



        </div>
    </div>
</div>


@*<script>




    $(document).ready(function () {
        LoadSidebar();

    });

    //Load Sidebar List
    function LoadSidebar() {
        var html = '', htmlPBrand = '', htmlPCategory = '', pVariant = '';
        var count = 0;
        var categCount = 1;
        var brandCount = 20;
        //$('#categorySidebarId').html('');
        $.ajax({
            url: "/Product/GetSidebar",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {

                var data = JSON.parse(result.data);
                //console.log(data);
                //
                $.each(data.Category, function (key, item) {

                    htmlPCategory += `<a href="javascript:void(0)"> <input type="checkbox" class="filter" categoryId="${item.Id}" myfilter="Category" categoryName="${item.Name}"  id="${item.Name}">
                          &nbsp;&nbsp;<label for="${item.Name}">&nbsp;${item.Name}</label></a><br>`;

                });

                $.each(data.Brand, function (key, item) {

                    htmlPBrand += `<a href="javascript:void(0)"> <input type="checkbox" class="filter" categoryId="${item.Id}" myfilter="Brand" categoryName="${item.Name}"  id="${item.Name}">
                          &nbsp;&nbsp;<label for="${item.Name}">&nbsp;${item.Name}</label></a><br>`;

                    //htmlPBrand += `<a href="javascript:void(0)"> <input type="checkbox" class="filter" brandId="${item.Id}" myfilter="Brand" brandName="${item.Name}" value="Dastak" id="${item.Id}">
                    //      &nbsp;&nbsp;<label for="${item.Id}">&nbsp;${item.Name}</label></a><br>`;

                });

                $('#category-checkboxes').html('<div class="normal-a">' + htmlPCategory + '</div>');
                $('#brand-checkboxes').html('<div class="normal-a">' + htmlPBrand + '</div>');

                /*$('#categorySidebarId').html(html);*/
            },
            error: function (errorMessage) {
                alert(errorMessage.responseText);
            }
        });
    }


</script>*@