@model List<B2CPortal.Models.CommentAndRatingVM>
<!-- pages-title-start -->
@*<div class="pages-title section-padding">
    <div class="container">
    <div class="row">
    <div class="col-xs-12">
    <div class="pages-title-text text-center">
    <h2>men’s white t-shirt</h2> </div>
    </div>
    </div>
    </div>
    </div>*@
<!-- pages-title-start -->
<div class="pages-title section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="pages-title-text text-center">
                    <h2>Product Details</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="product-details pages ">
    <div class="container">
        <div class="row" id="quick-view"> </div> <div class="row">
            <div class="col-xs-12">
                <div class="reviews padding60 margin-top">
                    <ul class="reviews-tab clearfix">
                        <li><a data-toggle="tab" href="#moreinfo">more info</a></li>
                        <li class="active"><a data-toggle="tab" href="#reviews">Reviews</a></li>
                        @*<li><a data-toggle="tab" href="#tags">tags</a></li>*@
                    </ul>
                    <div class="tab-content">
                        <div class="info-reviews moreinfo tab-pane fade in" id="moreinfo">
                            <p>The most culturally eaten bread on every dining table in Pakistan are the fresh and soft roti or chapati. With Sunridge’s wide range of products, enriched with Iron, Zinc, Vitamin B12 and Folic Acid every roti will be nutrition rich</p>
                        </div>
                        <div class="info-reviews review-text tab-pane fade in active" id="reviews">
                            <div class="about-author" id="commentAndRating"> </div>
                        </div>
                        <hr /> <div class="your-rating log-title">
                            <h3>leave your review</h3>
                            <h5>Your rating</h5>
                            <div class="rating clearfix">
                                <ul>
                                    <li>
                                        <a href="javascript:void(0)" class="product-rating" rating="1" onclick="(this)">
                                            <i class="mdi mdi-star-outline"></i>
                                        </a>
                                        <span>|</span>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class="product-rating" rating="2" onclick="(this)">
                                            <i class="mdi mdi-star-outline"></i>
                                            <i class="mdi mdi-star-outline"></i>
                                        </a>
                                        <span>|</span>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class="product-rating" rating="3" onclick="(this)">
                                            <i class="mdi mdi-star-outline"></i>
                                            <i class="mdi mdi-star-outline"></i>
                                            <i class="mdi mdi-star-outline"></i>
                                        </a>
                                        <span>|</span>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class="product-rating" rating="4" onclick="(this)">
                                            <i class="mdi mdi-star-outline"></i>
                                            <i class="mdi mdi-star-outline"></i>
                                            <i class="mdi mdi-star-outline"></i>
                                            <i class="mdi mdi-star-outline"></i>
                                        </a>
                                        <span>|</span>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class="product-rating" rating="5" onclick="(this)">
                                            <i class="mdi mdi-star-outline"></i>
                                            <i class="mdi mdi-star-outline"></i>
                                            <i class="mdi mdi-star-outline"></i>
                                            <i class="mdi mdi-star-outline"></i>
                                            <i class="mdi mdi-star-outline"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="custom-input">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="input-mail">
                                        <input type="hidden" name="UserId" id="UserId" value="@Session["UserId"]" />
                                        <input type="text" name="name" id="txtName" value="@Session["UserName"]" placeholder="Your Name" />
                                        <label id="lblName" style="color:red"></label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-mail">
                                        <input type="text" name="email" id="txtEmail" value="@Session["UserEmail"]" placeholder="Your Email" />
                                        <label id="lblEmail" style="color:red"></label>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="custom-mess">
<textarea name="message" id="txtMessage" placeholder="Your Review" rows="2" required></textarea>
                                        <label id="lblMessage" value="" style="color:red"></label>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="submit-text">
                                        <button type="button" id="btnSave">submit review</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        GetProductId();
        debugger
        let CurrentProductId = localStorage.getItem('CurrentProductId');
        if (CurrentProductId != GetProductIdFromURL()) {

            localStorage.removeItem('CurrentProductId');
            localStorage.removeItem('CommentSection');
        }


        debugger
        let commentArray = [];
        let commentStorage = localStorage.getItem('CommentSection');

        if (commentStorage != null)
            commentArray = commentStorage.split(',');

        if (commentArray.length > 0)
            GetProductCommentWithPaggination(commentArray[0], commentArray[1]);
        else
            GetProductCommentAndRating();


        $('.product-rating').click(function (elem) {
            rating = $(this).attr('rating');
        });

        // Paggination Button ,1,2,3..
        $('#div-paggination').on('click', '.btn-paggination', function () {

            //var localvalues = [];
            //var ProductId = [];
            var nextPage = $(this).attr('next-page');
            var prevPage = $(this).attr('prev-page');

            PrevClickValue = prevPage;
            NextClickValue = nextPage;

            $('#div-paggination').find('.btn-paggination').removeClass('applyActiveBtn');
            $(this).addClass('applyActiveBtn');

            SetLocalStorageCommentSection(nextPage, prevPage);
            GetProductCommentWithPaggination(nextPage, prevPage);

        });

        // Prev and Next Button
        $('#div-paggination').on('click', '.btn-PrevAndNext', function () {

            let value = $(this).attr('value')


            debugger
            if (value == "Previous") {

                if (PrevClickValue == 0)
                    PrevClickValue = commentArray[1];

                if (PrevClickValue > 0) {

                    PrevClickValue = parseInt(PrevClickValue) - 10;
                    SetLocalStorageCommentSection(NextClickValue, PrevClickValue)
                }
                else
                    return false;
            }


            if (value == "Next") {

                if (PrevClickValue == 0)
                    PrevClickValue = commentArray[1];

                if ((parseInt(totalComment) - 10) > PrevClickValue) {

                    PrevClickValue = parseInt(PrevClickValue) + 10;
                    SetLocalStorageCommentSection(NextClickValue, PrevClickValue)
                } else {
                    return false;
                }

            }

            var currentBtnIndex = (((NextClickValue + PrevClickValue) / NextClickValue) - 1);

            $('#div-paggination').find('.btn-paggination').removeClass('applyActiveBtn');
            $('#div-paggination').find('.btn-paggination').eq(currentBtnIndex).addClass('applyActiveBtn');

            GetProductCommentWithPaggination(NextClickValue, PrevClickValue);
        });
    });

</script>

