@model B2C_Models.Models.customer
@{
    ViewBag.Title = "ForgotPassword";
}

<div class="pages-title section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="pages-title-text text-center">
                    <h2>Forgot Password</h2>
                    <ul class="text-left">
                        <li><a href="/Home/Index">Home </a></li>
                        <li><span> // </span>Forgot Password</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="pages login-page section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="main-input padding60">
                    <div class="log-title">
                        <h3><strong>registered customers</strong></h3>
                    </div>
                    <div class="login-text">
                        <div class="custom-input">

                            <p>If you have Forgot Your Password, Get Reset Link!</p>
                            <form id="fpassword">
                                <input class="form-control" type="text" id="EmailId" name="EmailId" placeholder="Email Address" value="@Model.EmailId" />
                                @*@Html.EditorFor(model => model.EmailId, new { htmlAttributes = new { @placeholder = "Email Address:", @class = "form-control" } })*@
                                <a class="forget" href="/Account/Login">Sign Up!</a>
                                <div class="text">

                                    <button type="button" class="forPass btn btn-success" id="forgot">Get Reset Link</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

@section scripts
{
    <script type="text/javascript">
        $('.forPass').click(function () {

            var form = $('#fpassword');
             
            if ($(form)) {
                $.ajax({

                    type: "POST",
                    url: "/Account/ForgotPassword",
                    data: $(form).serialize(),
                    success: function (data) {
                         
                        // alert(data);
                        console.log(data);
                        if (data.success == true) {
                            toastr.success(data.msg);

                        }
                        else if (data.success == false) {
                            toastr.error(data.msg);
                        }
                    },
                    failure: function (data) {
                        console.log(data);
                    },
                    err: function (data) {
                        console.log(data);
                    }
                })
            }
            else {
                return false;
            }
        });

                    //$(document).ready(function () {


                    //    $('.forPass').click(function (e) {
                    //        e.preventDefault;
                    //         
                    //        var form = $('#fpassword');
                    //        let result = false;
                    //        $.ajax({
                    //            method: "POST",
                    //            url: "/Account/ForgotPassword",
                    //            data: {
                    //                EmailId: EmailId
                    //            },
                    //            success: function (data) {
                    //                if (data.success == true) {
                    //                    toastr.success(data.msg);
                    //                }
                    //                else if (data.success == false) {
                    //                    toastr.error(data.msg);
                    //                }
                    //            },
                    //            failure: function (res) {
                    //                console.log(res);
                    //            },
                    //            err: function (res) {
                    //                console.log(res);
                    //            }


                    //        });
                    //        console.log(result);
                    //        //return result;
                    //    });


                    //});

    </script>
}