@model B2C_Models.Models.customer
@{
    ViewBag.Title = "ResetPassword";
}


<div class="pages-title section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="pages-title-text text-center">
                    <h2>Reset Password</h2>
                    <ul class="text-left">
                        <li><a href="/Home/Index">Home </a></li>
                        <li><span> // </span>Reset Password</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="pages login-page section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="main-input padding60">
                    <div class="log-title">
                        <h3><strong>Registered customers</strong></h3>
                    </div>
                    <div class="login-text">
                        <div class="custom-input">
                            <p>Reset Your Password!</p>

                            <form id="reset">
                                @Html.HiddenFor(m => m.EmailId)
                                <input class="form-control" type="password" id="NewPassword" name="NewPassword" placeholder="New Password" />
                                <input class="form-control" type="password" id="ConfirmPassword" name="ConfirmPassword" placeholder="Confirm Password" />

                                <div class="text">
                                    <button type="button" class="change btn btn-success" id="change">Reset Password</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

@section scripts
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">

        jQuery('#reset').validate({
            rules: {
                 NewPassword: {
                    required: true

                }, ConfirmPassword: {
                    required: true,
                    equalTo: "#NewPassword"

                }

            },
            messages: {
                 NewPassword: {
                    required: "New Password Is Required"
                }, ConfirmPassword: {
                    required: "Confirm Password Is Required",
                    equalTo: "Confirm Password must be equal to Password"
                }

            }
        });

        $('#change').click(function () {

            var form = $('#reset').val();
            var datatosend = {
                customer: {
                  
                    EmailId: $('#EmailId').val(),
                    Password: $('#NewPassword').val()

                }
            }

            if ($(form)) {
                $.ajax({
                    type: "POST",
                    url: "/Account/ResetPassword",
                    data: JSON.stringify(datatosend),// JSON.stringify(milestonearray),// $(form).serialize(),
                    contentType: 'application/json',
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);
                        if (data.success == true) {
                            toastr.success(data.msg);
                            window.location.href = "/Account/Login";
                        }
                        else if (data.success == false) {
                            toastr.error(data.msg);
                        }
                    },
                    failure: function (data) {
                        console.log(data);
                    },
                    err: function (data) {
                        console.log(data);
                    }
                })
            }
            else {
                return false;
            }

        })
    </script>


}
